nav.nav
    div(id="block_id" class="nav__menu-ham")
        a(class="nav-item" href="/index.html") Главная
        a(class="nav-item" href="/about.html") Обо мне
        a(class="nav-item" href="/my-works.html") Портфолио
        a(class="nav-item" href="/blog.html") Блог
        a(class="nav-item" href="/login.html") Авторизация