p Мои навыки
    ul.technologies
        li
            img(src='assets/images/js.svg')
        li
            img(src='assets/images/oracle-logo.svg')
        li
            img(src='assets/images/php.svg')
        li
            img(src='assets/images/mysql-4.svg')
