extends ../template

block variables
    - var title = "Блог"

block content
    h1 Блог
    ul
        li
             h2 Заголовок 1
             p какой-то текст 
        li
             h2 Заголовок 2
             p какой-то текст 
        li
             h2 Заголовок 3
             p какой-то текст 
