extends ../template

block variables
    - var title = "Добро пожаловать на страницу Дарья Коротковой"

block content
    
    a(class="button" href="/login.html") Авторизоваться
    div(class="desert")
        p(class="main_img")
        h1 Короткова Дарья
        p Личный сайт full-stack программиста
        ul.socials
            li
                a(class="vk" href="https://vk.com/id610196")
            li
                a(class="slack" href="https://webdev092017.slack.com")
            li
                a(class="face" href="")

    
        



    
