@font-face {
    font-family: "Roboto";
    src: url("/assets/fonts/Roboto-Regular.ttf") format('truetype');
    src: url("/assets/fonts/Roboto-Italic.ttf") format('truetype');
    
    src: url("/assets/fonts/Roboto-Bold.ttf") format('truetype');
}
@font-face{
    font-family: "Roboto-Medium";
    src: url("/assets/fonts/Roboto-Medium.ttf") format('truetype');
}
@font-face{
    font-family: "Roboto-Light";
    src: url("/assets/fonts/Roboto-Light.ttf") format('truetype');
}
@font-face {
    font-family: "Sansus";
    src: url("/assets/fonts/Sansus-Webissimo-Regular.ttf") format('truetype');
}
* {
    margin: 0 auto;
}
body{
    margin: 0 auto;
   /* background-image: url(/assets/images/sand.jpg);*/
    color: #fff;
    font-family: "Roboto-Medium";
    font-size: 16px;

}
.wrapper{
    position: relative;
    max-width: 1800px;
    margin: 0 auto;
}


@import 'common/menu';
@import 'common/main';
@import 'common/technologies';
@import 'common/slider';
@import 'common/about';
@import 'common/login';
@import 'common/works';
@import 'common/blog';