section.section.hero{
width: auto;
margin: 0 auto;
display: flex;}

.hamburger.hero__menu {
    background: transparent url(/assets/images/hamburger.svg) no-repeat right;
    border: medium none;
    cursor: pointer;
    height: 37px;
    width: 100%;
    margin-right: 34px;
    margin-top: 10px;
}
.socials__item{ list-style: none;display:inline-block; padding: 10px;}
.hero__socials{width:100%;}
.user__pic-img{
    background-image: url(/assets/images/ya2.jpg);
    background-size: cover;
    width:200px;
    height:200px;
    border-radius: 200px;
}
.hero__title{
    margin-top: 58px;
    width: 100%;
margin-left: 3%;}
.user__description{text-align: center;line-height: 30px;}
.user__name{
    font-family: "Roboto-Medium";
    font-weight: 500;
    font-variant: small-caps;
    letter-spacing: 1px;}
.user__info{
    font-family: Roboto-Light;
    font-weight: 600;}
.arrow-down.hero__scroll-btn{
    position: absolute;
    z-index: 10;
    top: 19%;
    left: 49%;
    text-align: center;
}
section.section.about{display:flex;}
.about__left{background-color: #eeeee9;width:50%;}
.about__right{background-color: #edecdf;width:50%;}
.triangle.tringle_fill_white.about__left-triangle{
}
.block-title::before{background-image: url('/assets/images/ellipse-4.png');content: ''; 
    padding: 15px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;}
.block-title{color:#696969;text-transform: uppercase;}
.block-title::after{background-image: url('/assets/images/ellipse-4-1.png');content: ''; 
    padding: 15px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;}
.user-description__avatar{width: auto;
    height: 271px;}
.about__left-title{display: inline-block;
    width: 43%;
    vertical-align: top;
    text-align: center;}
.about__left-content{display: inline-block;
    width: 56%;color:#696969;}
.user-description__title{text-align: center;padding: 16px;}
.block-subtitle::before{background-image: url('/assets/images/ellipse-4.png');content: ''; 
    padding: 15px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;}
.block-subtitle{text-transform: uppercase;}
.block-subtitle::after{background-image: url('/assets/images/ellipse-4-1.png');content: ''; 
    padding: 15px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;}
.user-description__text.text-content{font-family: "Roboto-Light"; font-weight: 700;line-height: 1.5;}
.user-description__text.text-content p{ margin-top:10px;}
.about__right{color:#696969;}
.about__right-title{ text-align: center;}
.about__right-text.text-content {font-family: "Roboto-Light"; font-weight: 700;line-height: 1.5;
margin-top: 10px;line-height: 1.5;width:92%;}
.about__right-content{width:92%;margin-top:10px;}
.skills-list{list-style: none;}
.skills-row__list{list-style: none;}
.skills-row__item{display: inline-block;width: 31%;}
.circle__first {
    stroke: #dfdcd5;
  }
  .circle__second {
    stroke: #e7a731;
    stroke-dasharray: .0010 282.6;
    transition: all 1s;
  }
  .circles:hover .circle-0 {
    stroke-dasharray: .001 282.6;
 }
 .circles:hover .circle-5 {
   stroke-dasharray: 14.13 282.6;
 }
 .circles:hover .circle-10 {
    stroke-dasharray: 28.26 282.6;
 }
 .circles:hover .circle-15 {
    stroke-dasharray: 42.39 282.6;
 }
 .circles:hover .circle-20 {
    stroke-dasharray: 56.52 282.6;
 }
 .circles:hover .circle-25 {
    stroke-dasharray: 70.65 282.6;
 }
 .circles:hover .circle-30 {
    stroke-dasharray: 84.78 282.6;
 }
 .circles:hover .circle-35 {
    stroke-dasharray: 98.91 282.6;
 }
 .circles:hover .circle-40 {
    stroke-dasharray: 113.04 282.6;
 }
 .circles:hover .circle-45 {
    stroke-dasharray: 127.17 282.6;
 }
 .circles:hover .circle-50 {
    stroke-dasharray: 141.3 282.6;
 }
 .circles:hover .circle-55 {
    stroke-dasharray: 155.43 282.6;
 }
 .circles:hover .circle-60 {
    stroke-dasharray: 169.56 282.6;
 }
 .circles:hover .circle-65 {
    stroke-dasharray: 183.69 282.6;
 }
 .circles:hover .circle-70 {
    stroke-dasharray: 197.82 282.6;
 }
 .circles:hover .circle-75 {
    stroke-dasharray: 211.95 282.6;
 }
 .circles:hover .circle-80 {
    stroke-dasharray: 226.08 282.6;
 }
 .circles:hover .circle-85 {
    stroke-dasharray: 240.21 282.6;
 }
 .circles:hover .circle-90 {
    stroke-dasharray: 254.34 282.6;
 }
 .circles:hover .circle-95 {
    stroke-dasharray: 268.47 282.6;
 }
 .circles:hover .circle-100 {
    stroke-dasharray: 282.6 282.6;
 }
 .skill__title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #e7a731;
  font-weight: bold;
 }
 .circles {
    fill: none;
    stroke-width: 15;
  }
  .skill{
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
  }
  .map__contacts{
      background-color: #f9efdf;
      position: absolute;
      z-index: 10;
      top: 63%;
      left: 38%;
      color:#696969;
      padding: 50px;
      border-radius: 5px;
      opacity: 0.8;
    
  }
  .google-map{position: relative;}
  .contacts__title{text-align: center;}
  .contacts__list{list-style: none;margin-left: -62px;padding: 30px;}
  .contacts-row{padding: 10px;display: ruby-text;}
  .contacts-row__icon{vertical-align: bottom;}
  .contacts{width:250px;}
  .map__footer.footer{background:url(/assets/images/rectangle-10.png);}
  .footer__row{display:inline-block; width:30%;}
  
 .footer__text{font-family: Roboto-Light;}
 .footer__text_bold{font-weight: bold;}
 .footer__text_end{text-align: end;font-family: Roboto-Light;}
 .triangle.tringle_fill_white.about__left-triangle{width: 0;
    width:0;
    height: 0;
    border-bottom: 100px solid #eeeee9;
    border-right: 645.5px solid transparent;
    position: absolute;
    z-index: 20;
    top: 300px;}
.triangle.tringle_fill_beige.about__right-triangle{
    width:0;
    height: 0;
    border-bottom: 100px solid #edecdf;
    border-left: 645.5px solid transparent;
    position: absolute;
    z-index: 20;
    top: 300px;
}
@media all and (max-width: 780px)
{
    .triangle.tringle_fill_white.about__left-triangle{
        border-right: 243px solid transparent;
        top: 500px;
        z-index:40;
    }
    .triangle.tringle_fill_beige.about__right-triangle{
        border-left: 320px solid transparent;
        top: 500px;
    }
    .arrow-down.hero__scroll-btn{left:43%;top:15%;}
    .about__left {
        display: table;
        flex-wrap: wrap-reverse;
        width: 100%;
    }
    .user-description__avatar {
        width: 300px;
        height: 271px;
        margin-left: 10px;
    }
    section.section.about{flex-wrap: wrap;}
    .about__left-title{display: block;
    width:100%;}
    .user-description__title{width:300px;}
    .user-description__text.text-content{width:300px;}
    .about__right{width:320px;}
    .skills-row__item{}
    .skill{width:100px;height: 100px;}
    .skills-row__list{margin-left: -81px !important;}
    .about__left-flex{width:320px;}
    .map__contacts{position:inherit; padding: 0px; background-color: #fff;}
    .contacts__list{margin-left:0px}


}