.header__login{
    height: 100px;
}
.login__desert{
text-align: center;
width: 340px; 
border-radius:5px;
opacity: 0.8;
background-color: #e2d0ae;
}
.login__title::before{background-image: url('/assets/images/ellipse-4.png');content: ''; 
    padding: 15px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;}
.login__title{text-transform: uppercase; padding: 31px;}
.login__title::after{background-image: url('/assets/images/ellipse-4-1.png');content: ''; 
    padding: 15px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;}
input[class="login__but"] {
    color: #fff;
    background-color: #e7a731;
    border: 0px;
    font-family: "Roboto-Medium";
    font-size: 16px;   
    width: 100%;
    height: 100%;
    line-height: 50px;
    cursor: pointer;  
}
input[class="login__but"]:hover{
background-color: #cd8920;}
.login__email{height: 29px;
    padding: 4px 40px;
    border: 1px #fff solid;
    border-radius: 6px;
    margin-left: -13px;
    margin-top: 10px;
}
.login__pass{height: 29px;
    padding: 3px 33px;
    border: 1px #fff solid;
    border-radius: 6px;
    margin-left: 2px;
    margin-top: 15px;
}
.login__fields-e{
    
}
.login__icon-e{
    width: 14px;
    margin-right: -28px;
    position: relative;
    z-index: 1;
    background-color: #ededee;
    padding: 12px;
    margin-bottom: -14px;
}
.login__icon-p{
    width: 14px;
    margin-right: -28px;
    position: relative;
    z-index: 1;
    background-color: #ededee;
    padding: 12px;
    margin-bottom: -13px;
}
.login__checkbox{margin-top:15px;}
.login__p{margin-top:15px;}
.login__questions{
    margin-top:10px;
}
