
.menu {
    position: relative; display: table;
    width: 100%; height: 50px;
    background-color: #e7a731;
}
.menu li {
   display: table-cell; position: relative;
   border-right: 1px solid;
}
.menu li a {
   display: block; position: relative;
   width: 100%; height: 100%;
   text-align:center;
   text-decoration: none;
   color: #fff;
   line-height: 50px; /* для того чтобы отцентрировать текст по вертикали */
}
.menu li:hover{ display: block; background-color: #cd8920;}

/*меню гамбургер*/
/*.nav{display: none;}*/
/*menu footer page about*/
.menu__footer{padding: 10px;
    text-align: center; }
 .menu__footer a{color:#fff; text-decoration: none;padding: 10px;}
 .menu__footer a:hover{color:#cd8920;}

 /*menu page login*/
 .menu__login {
    position: relative; display: inline-block;
    width: 100%; height: 50px;
    background-color: #e7a731;
    margin-top: 50px;
}
.menu__login li {
    display: inline-block;
    position: relative;
   border-right: 1px solid;
   list-style: none;
   width: 166px;
}

.menu__login li a {
   display: block; position: relative;
   width: 100%; height: 100%;
   text-align:center;
   text-decoration: none;
   color: #fff;
   line-height: 50px; /* для того чтобы отцентрировать текст по вертикали */
}
.menu__login li:hover{ /*display: block;*/ background-color: #cd8920;}
.nav{display:none;background-color: #e7a731;position: absolute; width:250px;opacity: 0.5;right: 74px}
.nav-item{width:100%; color:#fff; text-decoration: none; font-size: 25px; 
    display: flex;line-height: 1.5;text-align: center}
.nav-item:hover{text-decoration: underline;}